@font-face {
    font-family: 'Parkinsans';
    src: url('/fonts/Parkinsans/Parkinsans-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/*@font-face {
    font-family: 'Lexend';
    src: url('/fonts/Lexend/Lexend-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gabarito';
    src: url('/fonts/Gabarito/Gabarito-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}*/

:root {
    font-family: 'Parkinsans', 'Lexend', 'Gabarito', sans-serif;
}